<!-- <ion-header >
  <ion-toolbar>   
    <ion-buttons (click)="onClickLogOut()">
      <ion-title color="primary"><B>INCARCO</B></ion-title>
      <ion-item>
        <ion-avatar>
          <img src="assets/img/logProfile.jpg">
        </ion-avatar>
      </ion-item>
    </ion-buttons>
   
  </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->


  <!-- <ion-grid  fixed >
    <ion-row>


      <ion-col size="12">
        <ion-card>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/img/marty-avatar.jpg">
            </ion-avatar>
            <h5>Marty McFly</h5>
          
          </ion-item>
        
          <img src="assets/img/news1.jpg">
        
          <ion-card-content>
            <ion-card-subtitle>6 Coolest New Model Cars Available Right Now - Fastest Cars In the Market.</ion-card-subtitle>
            <p>Though there is an assortment of brand-new and fully redesigned passenger cars hitting the road for 2020 model year, 
              their numbers are dwindling as buyers are instead choosing sport-utility vehicles as their rides of choice.</p>
          </ion-card-content>
        
          <ion-row>
            <ion-col>
              <ion-chip>
                <ion-icon name="thumbs-up-outline"></ion-icon>
                <ion-label>12</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col>
              <ion-chip>
                <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                <ion-label>50</ion-label>
              </ion-chip>
            </ion-col>
            
            <ion-col align-self-center text-center>
              <ion-note>
                11h ago
              </ion-note>
            </ion-col>
          </ion-row>
        
        </ion-card>
    </ion-col>

    <ion-col size="12">
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/marty-avatar.jpg">
      </ion-avatar>
      <h5>Marty McFly</h5>
      
    </ion-item>
  
    <img src="assets/img/advance-card-bttf.jpg">
  
    <ion-card-content>
      <ion-card-subtitle>6 Coolest New Model Cars Available Right Now - Fastest Cars In the Market.</ion-card-subtitle>
      <p>Though there is an assortment of brand-new and fully redesigned passenger cars hitting the road for 2020 model year, 
        their numbers are dwindling as buyers are instead choosing sport-utility vehicles as their rides of choice.</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <ion-chip>
          <ion-icon name="thumbs-up-outline"></ion-icon>
          <ion-label>12</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
          <ion-label>50</ion-label>
        </ion-chip>
      </ion-col>
      
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card>
    </ion-col>


    <ion-col size="12">
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/marty-avatar.jpg">
          </ion-avatar>
          <h5>Marty McFly</h5>
         
        </ion-item>
      
        <img src="assets/img/news6.jpeg">
      
        <ion-card-content>
          <ion-card-subtitle>6 Coolest New Model Cars Available Right Now - Fastest Cars In the Market.</ion-card-subtitle>
          <p>Though there is an assortment of brand-new and fully redesigned passenger cars hitting the road for 2020 model year, 
            their numbers are dwindling as buyers are instead choosing sport-utility vehicles as their rides of choice.</p>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <ion-chip>
              <ion-icon name="thumbs-up-outline"></ion-icon>
              <ion-label>12</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip>
              <ion-icon name="chatbox-ellipses-outline"></ion-icon>
              <ion-label>50</ion-label>
            </ion-chip>
          </ion-col>
          
          <ion-col align-self-center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>
      
      </ion-card>
    </ion-col>
    
    
      <ion-col size="12">
        <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/marty-avatar.jpg">
          </ion-avatar>
          <h5>Marty McFly</h5>
          
        </ion-item>
      
        <img src="assets/img/news4.jpg">
      
        <ion-card-content>
          <ion-card-subtitle>6 Coolest New Model Cars Available Right Now - Fastest Cars In the Market.</ion-card-subtitle>
          <p>Though there is an assortment of brand-new and fully redesigned passenger cars hitting the road for 2020 model year, 
            their numbers are dwindling as buyers are instead choosing sport-utility vehicles as their rides of choice.</p>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <ion-chip>
              <ion-icon name="thumbs-up-outline"></ion-icon>
              <ion-label>12</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip>
              <ion-icon name="chatbox-ellipses-outline"></ion-icon>
              <ion-label>50</ion-label>
            </ion-chip>
          </ion-col>
          
          <ion-col align-self-center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>
      
      </ion-card>
    </ion-col>
    <ion-col size="12">
      <ion-card>

        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/marty-avatar.jpg">
          </ion-avatar>
          <h5>Marty McFly</h5>
         
        </ion-item>
      
        <img src="assets/img/new2.jpg">
      
        <ion-card-content>
          <ion-card-subtitle>6 Coolest New Model Cars Available Right Now - Fastest Cars In the Market.</ion-card-subtitle>
          <p>Though there is an assortment of brand-new and fully redesigned passenger cars hitting the road for 2020 model year, 
            their numbers are dwindling as buyers are instead choosing sport-utility vehicles as their rides of choice.</p>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <ion-chip>
              <ion-icon name="thumbs-up-outline"></ion-icon>
              <ion-label>12</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip>
              <ion-icon name="chatbox-ellipses-outline"></ion-icon>
              <ion-label>50</ion-label>
            </ion-chip>
          </ion-col>
          
          <ion-col align-self-center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>
      
      </ion-card> 
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content> -->
<ion-content class="fromstyle"  [fullscreen]="true">
  
  <form class="fromstyle"  [formGroup]="loginForm">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="styletext">Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
         
          <ion-input  class="styletext" placeholder="Enter the email" type="text" formControlName="email" name="email">
            <ion-icon class="styletext" lot="start" name="mail-outline"></ion-icon>
          </ion-input>
        </ion-item>
        <ion-item>
        
          <ion-input  class="styletext"  placeholder=" Enter the password"  type="password" formControlName="password" name="password">
            <ion-icon  class="styletext" slot="start" name="key-outline"></ion-icon>
          </ion-input>
        </ion-item>
        <ion-item lines="none"  padding-top>
          <ion-button expand="full" fill="outline" size="default" shape="round" color="dark" type="submit" [disabled]="!loginForm.valid" (click)="onFormSubmit(loginForm.value)">
            Login
            
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          </ion-button>
          
        </ion-item>
        <ion-item lines="none">
          <ion-button type="button" fill="outline" expand="block" size="default" shape="round" color="dark" (click)="register()">
            Register
            <ion-icon slot="start"  name="open-outline"></ion-icon>
          </ion-button>
        </ion-item>
       

        
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>

