.ls_head {
    color: #737373;
    font-weight: bold;
    font-size: 1.0em;
}

.ls_text {
    font-size: 1.0em;
    margin-left: 0px;

    
}

.ls_label {
    font-size: 0.5em;
    margin-left: 0px;
    font-weight: bold;

}
.stylelist {
    text-align: center;
}

